body {
    font-family: 'Arial', sans-serif;
    /* background-color: lightgreen; */
    margin: 0;
    padding: 0;
}

#profile-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#profile-image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

#product-container {
    margin-top: 20px;
}

.product-card {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#toggle-products-btn{
    border-radius: 50%;
}
/* .grad{
    height: 760px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  } */

  body::before {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    bottom: -50%;
    left: 25%;
    box-shadow: 0 50px 400px rgb(48, 51, 107);
    transform: rotate(-180deg);
}

body::after {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    top: -50%;
    left: 25%;
    /* box-shadow: 0 150px 300px rgba(243, 86, 146, 1); */
    animation: animate_1 10s infinite;
}
.out{
    
    display: flex;
    position: relative;
    left: 48%;
    padding-bottom: 20px;
    
}
.out a{
    text-decoration: none;
    color: red;
}