<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell</title>
    <link rel="stylesheet" href="/SDetail.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>
<body>
    <section id="header">
        <a href="#"><img src="image/logo.png" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="/auth/Home">Home</a></li>
                <li><a class="active" href="/auth/SDetail">Sell</a></li>
                <li><a href="/auth/about">About</a></li>
                <li><a href="/auth/Profile">Profile</a></li>
            </ul>
        </div>
    </section>
    </section id="item">
    <section id="seller" class="section-p1">
        <div class="single-pro-image">
            <img src="/image/product/p1.jpg" width="65%"  height="600vh" id="mainimg" alt="">
        </div>
        <div class="single-pro-details">
            <h4>Scientific Calculator</h4>
            <h2><b>Rs-</b>500/-</h2>
            <h4>Seller </h4>
            <span class="name"><b>Ashwani Sahu</b></span>
            <br>
            <i class="fa fa-phone phone"></i>
            <span>8755616514</span>
        </div>
    </section>







    <section id="newsletter" class="section-p1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest shop.</p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button>Sign Up</button>
        </div>
    </section>


    <footer class="section-p1">
        <div class="foot">
            <img src="image/logo.png" alt="#">
            <h4>Contact</h4>
            <p><Strong>Address: </Strong>GLA University,<br>17km Stone, NH-2, Mathura-Delhi Road Mathura, <br>Chaumuhan, Uttar Pradesh 281406 </p>
            <p><strong>Phone:</strong>(+91)8755616514 /(+91)802667762</p>
            <p><strong>Hours:</strong>08:00 - 18:00, Mon - Fri</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="foot">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Condition</a>
            <a href="#">Contect us</a>
        </div>
        <div class="foot">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">Profile</a>
            <a href="#">My Wishlist</a>
            <a href="#">Help</a>
        </div>
        <div class="copyright">
            <p>© 2023 GLX.com</p>
        </div>
    </footer>
    

    <script src="sell.js"></script>
</body>
</html>