<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell</title>
    <link rel="stylesheet" href="/sell.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <style>
        
    </style>
</head>
<body>
    <section id="header">
        <a href="#"><img src="/image/logo.png" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="auth/Home">Home</a></li>
                <li><a class="active" href="/auth/sell">Sell</a></li>
                <li><a href="/auth/about">About</a></li>
                <li><a href="/auth/Profile">Profile</a></li>
            </ul>
        </div>
    </section>
    </section id="item">
    <section id="banner">
        <h1>#SaveMoney</h1>
        <p>Pockets Full of Savings, Hearts Full of Freedom</p>
    </section>
    <section id="product1" class="section-p1">

        <div class="pro-container">
            <div class="pro">
                <img src="/image/product/p1.jpg" alt="">
                <div class="des">
                    <span>Scientific Calculator</span>
                    <h4><b>Rs-</b>500/-</h4>
                </div>
                <a href="/auth/SDetail"><i class="fa fa-phone phone"></i></a>
            </div>
            <div class="pro">
                <img src="/image/product/p2.jpg" alt="">
                <div class="des">
                    <span>Drafter</span>
                    <h4><b>Rs-</b>250/-</h4>
                </div>
                <a href="#"><i class="fa fa-phone phone"></i></a>
            </div>
            <div class="pro">
                <img src="/image/product/p3.jpg" alt="">
                <div class="des">
                    <span>Lab Coat</span>
                    <h4><b>Rs-</b>200/-</h4>
                </div>
                <a href="#"><i class="fa fa-phone phone"></i></a>
            </div>
            <div class="pro">
                <img src="/image/product/p4.jpg" alt="">
                <div class="des">
                    <span>Cooler</span>
                    <h4><b>Rs-</b>1500/-</h4>
                </div>
                <a href="#"><i class="fa fa-phone phone"></i></a>
            </div>
            <div class="pro">
                <img src="/image/product/p5.jpeg" alt="">
                <div class="des">
                    <span>Router</span>
                    <h4><b>Rs-</b>550/-</h4>
                </div>
                <a href="#"><i class="fa fa-phone phone"></i></a>
            </div>
            <div class="pro">
                <img src="/image/product/p6.jpg" alt="">
                <div class="des">
                    <span>Core JAVA Book</span>
                    <h4><b>Rs-</b>400/-</h4>
                </div>
                <a href="#"><i class="fa fa-phone phone"></i></a>
            </div>
            <div class="pro">
                <img src="/image/product/p7.jpg" alt="">
                <div class="des">
                    <span>Oppo A55 4G 6Months old</span>
                    <h4><b>Rs-</b>6000/-</h4>
                </div>
                <a href="#"><i class="fa fa-phone phone"></i></a>
            </div>
            <div class="pro">
                <img src="/image/product/p8.jpeg" alt="">
                <div class="des">
                    <span>Dell inspiron14 i3 8GB/256GB 6Months old</span>
                    <h4><b>Rs-</b>20000/-</h4>
                </div>
                <a href="#"><i class="fa fa-phone phone"></i></a>
            </div>
            <div class="pro">
                <img src="/image/product/p9.jpg" alt="">
                <div class="des">
                    <span>Guitar</span>
                    <h4><b>Rs-</b>2500/-</h4>
                </div>
                <a href="#"><i class="fa fa-phone phone"></i></a>
            </div>
            <div class="pro">
                <img src="/image/product/p10.jpg" alt="">
                <div class="des">
                    <span>Oppo A55 4G 6Months old</span>
                    <h4><b>Rs-</b>650/-</h4>
                </div>
                <a href="#"><i class="fa fa-phone phone"></i></a>
            </div>
            
        </div>

    </section>

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
    </section>

    <section id="newsletter" class="section-p1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest shop.</p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button>Sign Up</button>
        </div>
    </section>


    <footer class="section-p1">
        <div class="foot">
            <img src="/image/logo.png" alt="#">
            <h4>Contact</h4>
            <p><Strong>Address: </Strong>GLA University,<br>17km Stone, NH-2, Mathura-Delhi Road Mathura, <br>Chaumuhan, Uttar Pradesh 281406 </p>
            <p><strong>Phone:</strong>(+91)8755616514 /(+91)802667762</p>
            <p><strong>Hours:</strong>08:00 - 18:00, Mon - Fri</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="foot">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Condition</a>
            <a href="#">Contect us</a>
        </div>
        <div class="foot">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Help</a>
        </div>
        <div class="copyright">
            <p>© 2023 GLX.com</p>
        </div>
    </footer>
    

    
</body>
</html>